In [93]:
#Dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import requests
from selenium import webdriver

In [94]:
nasa_url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [95]:
executable_path = {'executable_path': 'C:/web drivers/chromedriver'}
browser = Browser("chrome", **executable_path, headless=False)

In [96]:
browser.visit(nasa_url)

In [97]:
html = browser.html
nasa_soup = bs(html, 'html.parser')

In [98]:
#Retrieve page with the requests module
#response = requests.get(nasa_url)

In [99]:
#Create BeautifulSoup object; parse with 'html.parser'
#soup = bs(response.text, 'html.parser')

In [100]:
#print(soup.prettify())

In [106]:
#scrape news title
nasa_soup.find("div",class_="content_title").text

'Mars Now'

In [107]:
nasa_title = "Mars Now"

In [108]:
#scrape paragraph
nasa_soup.find("div", class_="article_teaser_body").text

'As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.'

In [109]:
nasa_paragraph = 'As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.'

In [110]:
#JPL Mars Space Images
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [111]:
!which chromedriver

/c/web drivers/chromedriver

In [112]:
executable_path = {'executable_path': 'C:/web drivers/chromedriver'}

In [113]:
browser = Browser("chrome", **executable_path, headless=False)

In [114]:
browser.visit(image_url)

In [115]:
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [116]:
browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.find_link_by_partial_text('more info')
more_info_elem.click()

C:\Users\gjsan\Anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [117]:
html = browser.html
img_soup = bs(html, 'html.parser')

In [118]:
img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url_rel

'/spaceimages/images/largesize/PIA18433_hires.jpg'

In [119]:
img_url = f'https://jpl.nasa.gov{img_url_rel}'
img_url

'https://jpl.nasa.gov/spaceimages/images/largesize/PIA18433_hires.jpg'

In [120]:
mars_image = 'https://jpl.nasa.gov/spaceimages/images/largesize/PIA18432_hires.jpg'

In [139]:
#twitter weather
twitter_weather = "https://twitter.com/marswxreport?lang=en"

In [140]:
executable_path = {'executable_path': 'C:/web drivers/chromedriver'}
browser = Browser("chrome", **executable_path, headless=False)

In [141]:
browser.visit(twitter_weather)
html = browser.html

In [142]:
soup_weather = bs(response_weather.text, 'html.parser')

In [143]:
#print(soup_weather.prettify())

In [144]:
soup_weather.find("div", class_="css-1dbjc4n")

In [145]:
mars_weather = "InSight sol 503 (2020-04-26) low -93.8ºC (-136.8ºF) high -4.9ºC (23.2ºF),winds from the WNW at 4.6 m/s (10.2 mph) gusting to 17.5 m/s (39.1 mph),pressure at 6.70"

In [146]:
#mars facts dataframe
facts_url = "https://space-facts.com/mars/"

In [147]:
executable_path = {'executable_path': 'C:/web drivers/chromedriver'}
browser = Browser("chrome", **executable_path, headless=False)

In [148]:
browser.visit(facts_url)

In [149]:
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [150]:
facts_df = tables[0]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [151]:
mars_table = facts_df.to_html()
mars_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [152]:
final_mars_table = mars_table.replace('\n', '')

In [153]:
final_mars_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [154]:
#hemisphere data
cerberus_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced"
schiaparelli_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced"
srtis_major_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced"
valles_marineris_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced"

In [155]:
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [156]:
executable_path = {'executable_path': 'C:/web drivers/chromedriver'}
browser = Browser("chrome", **executable_path, headless=False)

In [157]:
browser.visit(hemisphere_url)

In [158]:

hemisphere_img_urls=[]

In [159]:

#HTML object
hemisphere_html = browser.html

#Parse HTML with Beautiful Soup
hemisphere_soup = bs(hemisphere_html, 'html.parser')

#Retreive all items that contain mars hemispheres information
images = hemisphere_soup.find_all('div', class_='item')


#loop through items stored
for x in images:
    h3 = x.find('h3').text
    image_url = x.find('a', class_='itemLink product-item')['href']
    
    image_soup = bs(image_url, 'html.parser')
    
    full_url = f'https://astrogeology.usgs.gov{image_url}'
    
    #append title and urls to list
    image_data = dict({"title": h3, "image_url": full_url})
    hemisphere_img_urls.append(image_data)

hemisphere_img_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'}]

In [160]:
hemisphere_image_urls = [
    {"title": 'Valles Marineris Hemisphere Enhanced','image_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'},
    {"title": 'Cerberus Hemisphere Enhanced','image_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'},
    {'title': 'Syrtis Major Hemisphere Enhanced', 'image_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'},
    {'title': 'Valles Marineris Hemisphere Enhanced','image_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}
]